
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OtelLayout.cshtml";
}

<h2>Burası Index sayfasıdır.</h2>
<p> Merhabalar </p>

<a href="/Default/Index2/" class="btn-primary">Index2 Sayfasını Aç</a>
